- https://data.winnipeg.ca/Recreation/Pool-Facility-Usage/j4s8-s9ap

In [1]:
#!pip install sodapy

In [2]:
import pandas as pd
from sodapy import Socrata

In [3]:
client = Socrata("data.winnipeg.ca", None)
results = client.get("t2d2-j4v9", limit=2000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
df = pd.DataFrame.from_records(results)

In [5]:
df.columns

Index(['activity_category', 'activity_name', 'activity_number',
       'activity_status', 'activity_type', 'attendance', 'center',
       'customer_type', 'end_date', 'end_time', 'event_type', 'item_name',
       'item_type', 'schedule_type', 'secondary_category', 'start_date',
       'start_time'],
      dtype='object')

In [6]:
df.head().T

,0,1,2,3,4
activity_category,NaN,NaN,NaN,Preschool - Birth to 5 years,NaN
activity_name,NaN,NaN,NaN,Kinder Ballet Level I 3-5 years,NaN
activity_number,NaN,NaN,NaN,6259,NaN
activity_status,NaN,NaN,NaN,Closed,NaN
activity_type,NaN,NaN,NaN,Activity,NaN
attendance,30,15,30,11,6
center,Pan Am Pool,Cindy Klassen Recreation Complex,Pan Am Pool,Pan Am Pool,Pan Am Pool
customer_type,Authorized Agent,Authorized Agent,Authorized Agent,NaN,General Public
end_date,2016-01-19T00:00:00.000,2016-01-30T00:00:00.000,2016-01-22T00:00:00.000,2016-02-20T00:00:00.000,2016-03-05T00:00:00.000
end_time,8:00 PM,8:30 AM,7:30 AM,9:45 AM,11:30 AM
event_type,Aquatics - Contract User,Aquatics - Contract User,Aquatics - Contract User,NaN,Aquatics - Contract User
item_name,PAP - Middle - Lane 6,CKRC - Middle - Lane 7,PAP - Middle - Lane 10,PAP - Kiddie Pool - Area 1,PAP - Training - North - Lane 1
item_type,Pool - Indoor,Pool - Indoor,Pool - Indoor,Pool - Indoor,Pool - Indoor
schedule_type,External Reservation,External Reservation,External Reservation,Standard Activity,External Reservation
secondary_category,NaN,NaN,NaN,Movement/Fitness,NaN
start_date,2016-01-19T00:00:00.000,2016-01-30T00:00:00.000,2016-01-22T00:00:00.000,2016-02-20T00:00:00.000,2016-03-05T00:00:00.000
start_time,5:00 PM,7:30 AM,5:45 AM,9:00 AM,10:00 AM

In [7]:
client = Socrata("data.winnipeg.ca", None)
bugs = client.get("du7c-8488", limit=2000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [8]:
bugsdf = pd.DataFrame(bugs)
bugsdf.T
idvars = ['count_date', 'trap_days']

In [9]:
idvars = ['count_date', 'trap_days']
location_only = [x for x in bugsdf.columns if "average" not in x]
location_only = [x for x in location_only if x not in idvars]
len(location_only)

37

In [10]:
!ls

Datasets.ipynb	Datasets_v2.ipynb  environment.yml

hello world

In [11]:
bugcleaned = pd.melt(bugsdf[location_only + idvars], id_vars = idvars, var_name = 'location', value_name = 'bugcount')

In [12]:
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
parkbikedata = "9t9k-ya8b"
parkbikedf = client.get("9t9k-ya8b", limit=2000)

In [14]:
pd.DataFrame(parkbikedf).T

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
asset_class,STAND-ALONE PLAY COMPONENT,SEATING,SEATING,SEATING,SEATING,SEATING,SWING SET,STAND-ALONE PLAY COMPONENT,PLAY STRUCTURE,SEATING,...,SEATING,SEATING,SEATING,STAND-ALONE PLAY COMPONENT,STAND-ALONE PLAY COMPONENT,SWING SET,STAND-ALONE PLAY COMPONENT,SEATING,BBQ,SEATING
asset_id,46292,47525,24478,22744,23769,24506,44743,45304,46922,62218,...,35198,24586,23821,46209,45287,62281,45419,23978,38673,22264
asset_size,N/A,N/A,N/A,N/A,N/A,N/A,1 BAY,N/A,SMALL,N/A,...,N/A,N/A,N/A,N/A,N/A,1 BAY,N/A,N/A,N/A,N/A
asset_type,N/A,BENCH,BENCH,BENCH,BENCH,BENCH,N/A,N/A,2 TO 5,BENCH,...,PLAYERS BENCH,BENCH,BENCH,N/A,N/A,N/A,N/A,BENCH,PIT,BENCH
geom_type,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT,...,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT,POINT
park_id,1137,266,1179,1040,52,918,55,410,1137,59,...,1070,1070,142,237,173,146,1129,609,1313,747
park_name,Frontenac Park,Muriel Street Park,Aberdeen Adventure Playground,Wightman Green,Rotary Prairie Nature Park,Cordova Park,Scouts Park,Parr Tot Lot,Frontenac Park,Central Corydon C.C - River Heights Site,...,Kirkbridge Park,Kirkbridge Park,Valour C.C-Clifton Site,George Minaker Park,Pinkham Park,Valour C.C - Isaac Brock Site,Evesham Key Park,Paulicelli Park,Kilcona Park,Parc Joseph Royal
prim_field,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
the_geom,"{'type': 'Point', 'coordinates': [-97.08174796...","{'type': 'Point', 'coordinates': [-97.29729904...","{'type': 'Point', 'coordinates': [-97.12915711...","{'type': 'Point', 'coordinates': [-97.22794918...","{'type': 'Point', 'coordinates': [-97.03366551...","{'type': 'Point', 'coordinates': [-97.18933524...","{'type': 'Point', 'coordinates': [-97.00751582...","{'type': 'Point', 'coordinates': [-97.14154370...","{'type': 'Point', 'coordinates': [-97.08170560...","{'type': 'Point', 'coordinates': [-97.18075583...",...,"{'type': 'Point', 'coordinates': [-97.16548156...","{'type': 'Point', 'coordinates': [-97.16275159...","{'type': 'Point', 'coordinates': [-97.18967885...","{'type': 'Point', 'coordinates': [-97.27178997...","{'type': 'Point', 'coordinates': [-97.15868988...","{'type': 'Point', 'coordinates': [-97.18664174...","{'type': 'Point', 'coordinates': [-97.26272864...","{'type': 'Point', 'coordinates': [-97.02866826...","{'type': 'Point', 'coordinates': [-97.03826030...","{'type': 'Point', 'coordinates': [-97.12547259..."

In [15]:
client = Socrata("data.winnipeg.ca", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [16]:
bikeurl = "https://data.winnipeg.ca/resource/9t9k-ya8b.json"

In [17]:
client = Socrata("data.winnipeg.ca", None)
bikes = client.get("9t9k-ya8b", limit=2000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

neighbourhood map

https://data.winnipeg.ca/resource/xaux-29zr.json

In [18]:
client = Socrata("data.winnipeg.ca", None)
neighbourhoods = client.get("xaux-29zr", limit=2000)
import shapely.geometry
from geopandas import GeoDataFrame
neighbourhoods = GeoDataFrame(neighbourhoods)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [19]:
import shapely.geometry
example = [x['coordinates'] for x in neighbourhoods.the_geom][0]

In [20]:
newgeom = [Polygon(x['coordinates'][0][0]) for x in neighbourhoods.the_geom]

NameError: name 'Polygon' is not defined

In [ ]:
neighbourhoods['newgeom'] = newgeom
neighbourhoods = neighbourhoods.set_geometry('newgeom')

In [ ]:
neighbourhoods.plot()

In [ ]:
neighbourhoods

In [ ]:
neighbourhoods.the_geom[0].keys()

In [ ]:
neighbourhoods.the_geom[0]['type']

In [ ]:
example = neighbourhoods.the_geom[0]['coordinates']

In [ ]:
example[0][0]

In [ ]:
from shapely.geometry import Polygon
Polygon(example[0][0])

In [ ]:
from shapely.geometry import MultiPolygon
MultiPolygon(example)

In [ ]:
set(new_geom)

In [ ]:
gdf.DataFrame(neighbourhoods)

In [ ]:
import shapely.geometry

In [ ]:
neipd.DataFrame(neighbourhoods)

In [ ]:
bikes_df = pd.DataFrame(bikes)
bikes_df.head()

In [ ]:
testcoord = bikes_df.the_geom[0]
testcoord

In [ ]:
import ipyleaflet

In [ ]:
!jupyter nbextension enable --py --sys-prefix ipyleaflet

In [ ]:
from ipyleaflet import Map

In [ ]:
Map(center = testcoord['coordinates'])

In [ ]:
# for x in bugcleaned.location.unique():
#     print(x)

https://docs.google.com/document/d/1xWBXAFSwtUGgZ3hQmzXE7ODnufQEWkji26vnsqfZzZ0/

http://winnipeg.ca/publicworks/insectcontrol/mosquitoes/nuisanceschedule.stm

In [ ]:
client = Socrata("data.winnipeg.ca", None)
mapdata = "tug6-p73s"
mapdata = client.get("tug6-p73s", limit=2000)
mapdata

North_east_1:  49.951867, -97.059306
North_east_2: 49.933941, -97.096341
North_east_3: 49.924809, -97.056330
North_east_4: 49.906175, -97.094797
North_east_5: 49.892358, -97.022426
North_east_6: 49.918257, -97.043848
North_east_7: 49.904900, -96.981602
North_west_1: 49.890104, -97.308464
North_west_2: 49.882624, -97.238131
North_west_3: 49.888943, -97.193254
North_west_4: 49.920877, -97.202540
North_west_5: 49.931627, -97.170450
North_west_6: 49.975104, -97.147863
North_west_7: 49.948876, -97.126311
Rural_aa: 49.981128, -97.244987
Rural_bb: 49.999793, -97.194880
Rural_cc: 49.991068, -97.089770
Rural_dd: 49.990523, -97.013920
Rural_ee: 49.852485, -96.986202
Rural_ff: 49.800355, -97.073122
Rural_gg: 49.782835, -97.339871
Rural_hh: 49.854707, -97.338403 
Rural_ii: 49.890188, -97.341707
South_east_1: 49.5242.6, 97.07156
South_east_2: 49.856801, -97.109705
south_east_3:49.859405, -97.066774
South_east_4: 49.824369, -97.133797
South_east_5: 49.829048, -97.098352
South_east_6: 49.827414, -97.060787
South_east_7: 49.806356, -97.100467
South_west_1: 49.832983, -97.332547
South_west_2: 49.852445, -97.275173
South_west_3: 49.868974, -97.243095
South_west_4: 49.868834, -97.184476
South_west_5: 49.818122, -97.165982
South_west_6: 49.805538, -97.138229
South_west_7: 49.827168, -97.170704

In [ ]:
import geopandas

In [ ]:
from geopandas import GeoDataFrame

In [ ]:
from shapely.geometry import Point

In [ ]:
mypoint = testcoord['coordinates']

In [ ]:
GeoDataFrame()

In [ ]:
from shapely.geometry import Point

In [ ]:
geotypes = [x['type'] for x in bikes_df.the_geom]

In [ ]:
set(geotypes)

In [ ]:
Point()

In [ ]:
newgeom = [Point(x['coordinates']) for x in bikes_df.the_geom]
bikes_df['newgeom'] = newgeom

In [ ]:
gdf = bikes_df
gdf = gdf.set_geometry('newgeom')

In [ ]:
gdf.head()

In [ ]:
gdf.plot()

In [ ]:
gdf.set_geometry('newgeom')

In [ ]:
bikes_df

In [ ]:
bikes_df

In [ ]:
import geopandas as gpd

In [ ]:
gdf = gpd.GeoDataFrame(bikes)

In [ ]:
gdf.set_geometry('the_geom')